.container {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto; 
    gap: 0px; 
  }
  
  header {
    background-color: rgb(15, 49, 32); 
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
  }
  
  .header1 {
    background-color: #1e5a20;
    color: rgb(255, 255, 255); 
    font-size: 36px; 
    font-weight: bold; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    
    
  }
  
  .header2 {
    background-color: #3b683c; 
    color: rgb(255, 255, 255); 
    display: flex; /* Hacer que los enlaces sean elementos flexibles */
    justify-content: center; 
    align-items: center; /* Centrar verticalmente los enlaces */
    padding: 20 20px; 
    gap: 80px;
  }
  .header2 a {
    color: #ffffff; 
    text-decoration: none;
}
  .header2 a:hover {
    color: #e74c3c; 
  }
  body {
    background-color: #3a3a3a;  
    margin: 0;
    
    height: 100%;
    
}
body {
  background-image: url('../Imagenes/pexels-rethaferguson-3059541.jpg'); /* Coloca la ruta de tu imagen aquí */
  background-size: cover; /* Asegura que la imagen cubra toda la página */
  background-position: center; /* Centra la imagen en la página */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  margin: 0;
  padding: 0;
  height: 100vh; /* Asegura que el body tenga al menos la altura de la ventana del navegador */
}
.contenedor1 {
  background-color: rgb(255, 255, 255); 
  width: 80%;
  margin: 0 auto; 
  padding: 20px;
  box-sizing: border-box;
 
}
section {
  display: flex;
  flex-wrap: wrap; 
  gap: 40px; 
  justify-content: center; 
}
