.imagen-con-texto {
    position: relative;
    display: inline-block;
}

.enlace {
    display: block;  
}

.imagen {
    width: 300px;  
    height: auto;
     
}

.texto {
    position: absolute;
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);  
    color: rgb(204, 191, 168);  
    font-size: 50px;  
    font-weight: bold; 
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
}

.contenido{

    color: rgb(0, 53, 20);
    font-size: 34px;
    font-weight: normal;
    text-align: center;
  
}

.centrado{
    display: flex;
    justify-content: center; 
  }
  
.justificado{
    display: flex;
    justify-content: flex-start; 
}

