.textocentral{
    color: rgb(4, 3, 12);
    font-size: 34px;
    text-align: center;
}
.texto1{
    color: rgb(48, 184, 218);
    font-size: 34px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.contenedor {
    position: relative;
    display: inline-block;
}

.contenedor img {
    width: 100%;
    height: auto;
    display: block;
}

.texto {
    /* position: absolute; */
    bottom: 0px;
    left: 0px;
    transform: translate(0%, 0%);
    color: rgb(0, 0, 0);
    font-size: 34px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px; 
    font-family: 'Courier New', Courier, monospace;
}
.texto2{
    color: rgb(72, 61, 158);
    font-size: 14px;
}

