.contenido{
    color: rgb(4, 3, 12);
    font-size: 34px;
    text-align: center;
}
.descripcion{
    color: rgb(11, 3, 12);
    font-size: 14px;
    text-align: center;
}
.contenedor{
    position: relative;
    display: inline-block;
    width: 500px;
    height: 300px;
    /* max-width: 500px; */
    overflow: hidden;
    padding: 10px; /* Espacio entre el borde y la imagen */
    margin: 50px;

}
.contenedor img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
    transition: transform 20s ease-in-out;
}
.contenedor:hover img{
    transform: scale(1.1);
}
.texto {
    /* position: absolute; */
    text-align: center;
    top: 50%;  /* Ajusta la posici칩n vertical del texto */
    left: 50%;  /* Ajusta la posici칩n horizontal del texto */
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    
}
p a {
    display: inline-block; 
    text-decoration: none; 
    color: rgb(255, 255, 255); 
    padding: 10px 15px; 
    border-radius: 5px; 
    font-size: 26px; /* Tama침o del texto */
    font-weight: bold; 
    transition: "background" 0.3s ease-in-out, transform 0.2s; /* Efecto de animaci칩n */
}

p a:hover {
    transform: scale(1.05); 
} 
